.menu{
    width:27vw;
    display: flex;
    gap: 0px;
}
.item{
    font-size: 16pt;
    font-style: italic; 
    
}
a{
    font-family: Helvetica, sans-serif;
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: 0.15s;
}
.item a:hover{
    font-size: 18pt;
    text-shadow: -2px -2px 2px #1CE5F3;
}