.menu{
    width:15vw;
    display: flex;
    gap: 60px;
}
.item{
    width: 60px;
    height: 30px;
    font-size: 16pt;
    font-style: italic; 
    
}
a{
    font-family: Helvetica, sans-serif;
    color: white;
    text-decoration: none;
    /*-webkit-text-stroke: 2px  white;  Adiciona uma borda preta de 2 pixels */
    font-weight: bold;
    transition: 0.15s;
}
.item a:hover{
    font-size: 18pt;
}