.direita{
    width: 33.33vw;
    height: 68vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16pt;
    margin-top: 5px;
    
}
.botoes{
    width: 33.33vw;
    height: 68vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20vw;
}
